$second-color: rgb(213, 235, 255);

.page{

    padding: 5px;
    .form{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 400px;
     
        padding: 20px;
        border: 1px solid $second-color;
        border-radius: 30px;
        justify-content: space-between;
        height: 400px;
        label{
            display: flex;
            justify-content: space-between;
        }
    }
}