.sort{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        max-width: 150px;
        height: 50px;
        margin-right: 10px;
    }